# Configurações do Lombok para o projeto

# Impede que o Lombok busque configurações em diretórios acima da raiz do projeto
config.stopBubbling = true

# Adiciona anotações @Generated automaticamente nos métodos gerados pelo Lombok
lombok.addGeneratedAnnotation = true

# Configurações de acesso aos métodos getters e setters
lombok.accessors.chain = true
lombok.accessors.fluent = false
